*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}


header{
    height: 80px;
    background-color: red;
}

nav{
    height:100%;
    position:relative;
}

nav>ul{
    list-style: none;
    margin-top: 20px;
    position:absolute;
    right:20px;
    top:20px;
}

nav>ul li{
    display: inline-block;
}

nav>ul li a{
    text-decoration: none;
    color:black;
    padding:10px 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}
